.section_cadastro {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 50px 0 100px 0;
}

.form_cadastro  {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.Titulo_cadastro h1 {
    text-transform: uppercase;
    text-align: center

}
.Titulo_cadastro hr{
    width: 200px;
    margin: 0 auto;

    margin-top: 10px;
    max-width: 360px;
    border-style: solid;
    border-width: 1, 5px;
    border-radius: 10px;
    border-color: #73061b;
}

.campos_cadastro {
  margin-top: 20px;
    align-items: flex-end;
    padding-top: 60px;
    gap: 30px;

}
.campos_cadastro input{
   
    margin-bottom: 30px;
}
.img_Cadastro{
   margin-top: 30px;
   margin-right: 200px;
   
}
/* Modificando i imput e select */

.campo_cad_nome input{
    width: 300px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    outline: none;
}


@media screen and (max-width: 979px)   {
    .campos_cadastro{
        flex-direction: column;
        align-items: center;
    }
    
    }

    @media screen and (max-width: 340px)  {
.form_cadastro{
    font-size: 16px;
}
    }
    