

.botao {
    width: 30%;
    padding: 12px;
    background-color: #821126;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 4px 4px 0px #00000045;
  }

  .botao_editar{
    width: 30%;
    padding: 12px;
    background-color: #821126;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 38px;
  }

  .icone{
    background-color: #821126;
    width: 30%;
  }