.listagem{
    background-color: #610415;
    min-height: calc(100vh - (75px + 252px + 40px));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}



.linha_titulo{
   max-width: 300px;
   width: 100%;
   border-style: solid;
   border-width: 1px;
   border-color: #ffffff84;
   margin-top: 5px;
   margin-bottom: 20px;
   
}


.item_lista img{
    height: 28px;
}

.tabela{
    width: 100%;
    margin-top: 30px;
}


.tabela table{
    width: 100%;
    border-collapse: collapse;

}


.tabela .table_cabecalho :first-child{
    width: 300px;

}


.tabela .table_cabecalho :nth-child(2){
    width: 200px;
}

.tabela .table_cabecalho th{
    width: 100px;
}

.item_lista td{
    /* desgrudar o item do titulo */
    padding: 20px 0 10px 0;
    color: white;
}

.item_lista{
    text-align: center;
    border-bottom:  solid 1px #73061B20;

}

.listagem h1{
    color: white;
    font-size: medium;
}

.tabela_cabecalho th{
    color: white;
    font-size: 18px;
    padding: 20px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

/* .linha_divisoria{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff84;
    margin-top: 5px;
    border-collapse: collapse;
} */



.botao_edicao{
    border: none;
     /* background-color: white;  */
     transition: 0.3s ease, transform 0.3s ease
    
}

.botao_edicao:hover{
    transform: scale(1.10);
} 



@media screen and (max-width: 768px){

    .tabela thead{
        display: none;
    }


    .item_lista td{
        display: grid;
        text-align: left;
        padding: 10px 10px 10px 0;
        grid-template-columns: 10ch auto;

    }


    .item_lista td::before{
        content: attr(data-cell) ":";
        font-weight: 700;
        width: 80px;
        text-align: left;
    }

    .item_lista td:last-child{
        margin-bottom: 24px;
    }

    .item_lista td:first-child{
        margin-top: 24px;
    }


}