header{
    background-color: #ffffff;
    height: 75px;

    /* Bordar: */
    box-shadow: 1px 4px 4px 0px #00000045;
    position: relative;
}
.nav_header{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 100px; */
    
}

.imagem{
    height: 20px;
    margin-bottom: 10px;
  
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.cabecalho img{
   
    
    margin-top: 20px;
}
.Adiminimage{
    height: 26px;
    width: 29px;
    margin-bottom: 50px;
    margin-left: 20px;
    
}

.admin{
margin-top: 13px;
}
.link_header{
    margin-left: 65px;
    margin-right: 20px;
margin-bottom: 24px;
    color: #000000;
    text-decoration: none;
}
.botao{
    margin-left: 250px;
    width: 100px;
    height: 35px;
    border: none;
    background-color: #B51D44;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-size: small;
}
.a{
    color: black;
}

@media screen and (max-width: 768px){
    .cabecalho img{
        height: 35px;
    }

    .link_header{
        margin-left: 10px;
    }
}