.eventos_section {
    padding: 40px 0;
    height: 100%;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.titulo hr {
    border: 1px solid #b51d44;
    width: 90px;
    margin-top: 10px;
}

.filtro_eventos select {
    margin-bottom: 50px;
    width: 356px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.tabela_eventos table {
    width: 100%;
    padding: 0 20px;
}

/* Table formatting */
.tabela_eventos,
table,
th,
td {
    border-collapse: collapse;
    padding-bottom: 10px;
}

.tabela_eventos,
td,
th,
td {
    text-align: start;
    margin-top: 20px;
}

.linha_evento td {
    height: 90px;
    margin-bottom: 20px;
    padding-top: 40px;
}

.cabecalho_tabela {
    border: 1px solid #b51d44;
    border-top: none;
    border-left: none;
    border-right: none;
}

.linha_evento {
    border: 1px solid #201849;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Responsivo */
@media screen and (max-width: 768px) {

    .tabela_eventos thead {
        display: none;
    }

    .tabela_eventos td {
        display: grid;
        text-align: left;
        padding: 10px 10px 10px 0;
        grid-template-columns: 10ch auto;
    }

    .tabela_eventos td::before {
        content: attr(data-cell) ":";
        font-weight: 700;
        width: 80px;
        text-align: left;
    }

    .tabela_eventos td:last-child {
        margin-bottom: 24px;
    }

    .tabela_eventos td:first-child {
        margin-top: 24px;
    }

    .tabela_eventos img {
        margin-left: 30px;
    }

    .cabecalho_tabela {
        display: none;
    }
}
